<!DOCTYPE HTML>
<html>
<head>
    <title>Applications - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/modal.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin-application-review.css' />

    <!-- SCRIPTS -->
    <script src='/js/application-review-modal.js'></script>
    <script src='/js/filter.js'></script>
</head>
<body class='background'>
    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <!-- BANNER -->
        <div class='text-center'>
            <img class="banner" src="/img/admin/applications.png">
        </div>

        <!-- STATS -->
        <div class='container' style='padding: 20px 0;'>
            <div class='row stats-box-container'>
                <div class='stats-box number-applications-box'>
                    <h1 class='number-applications'>{{numberApplications}}</h1>
                    <h4>Applications</h4>
                </div>
                <div class='stats-box accepted-box'>
                    <h1 class='number-accepted'>{{numberAccepted}}</h1>
                    <h4>Accepted</h4>
                </div>

                <div class='stats-box waitlisted-box'>
                    <h1 class='number-waitlisted'>{{numberWaitlisted}}</h1>
                    <h4>Waitlisted</h4>
                </div>

                <div class='stats-box rejected-box'>
                    <h1 class='number-rejected'>{{numberRejected}}</h1>
                    <h4>Rejected</h4>
                </div>

                <div class='stats-box pending-box'>
                    <h1 class='number-pending'>{{numberPending}}</h1>
                    <h4>Pending</h4>
                </div>
            </div>
        </div>

        <!-- FILTER -->
        {{> filter }}

        <!-- APPLICATION LIST -->
        <ul class='application-list container filter-list'>
            {{#each applications}}
                <li class='{{ this.email }} {{this.applicationStatus}} container-fluid application' name='{{this.email}}'>
                    <div class='row'>
                        <div class='col-sm-3 col-xs-6'>
                            <p class='filter-key'>{{ this.firstName }} {{ this.lastName}}</p>
                        </div>
                        <div class='col-sm-3'>
                            <p class='filter-key year'>{{#if this.year}}{{this.year}}{{/if}}</p>
                        </div>
                        <div class='col-sm-3'>
                            <p class='filter-key school'>{{#if this.school}}{{this.school}}{{/if}}</p>
                        </div>
                        <div class='col-sm-3 col-xs-6'>
                            <p class='application-status filter-key'>{{ this.applicationStatus }}</p>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>

    <!-- APPLICATION MODAL -->
    {{> applicationModal }}
</body>
</html>
