<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Announcements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/modal.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin-application-review.css' />

    <!-- SCRIPTS -->
    <script src='/js/application-review-modal.js'></script>
    <script src='/js/filter.js'></script>
</head>
<body>
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- BANNER -->
    <h1 class='transparent-ucla-blue banner'>Applications</h1>

    <!-- STATS -->
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <div class='stats-box'>
                    <h1>27</h1>
                    <h4>Applications</h4>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class='stats-box'>
                    <h1>27</h1>
                    <h4>Applications</h4>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class='stats-box'>
                    <h1>27</h1>
                    <h4>Applications</h4>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class='stats-box'>
                    <h1>27</h1>
                    <h4>Applications</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- FILTER -->
    {{> filter }}

    <!-- APPLICATION LIST -->
    <ul class='application-list container filter-list'>
        {{#each applications}}
            <li class='{{ this.email }} {{this.applicationStatus}} container-fluid application' name='{{this.email}}'>
                <div class='row'>
                    <div class='col-sm-3 col-xs-6'>
                        <p class='filter-key'>{{ this.firstName }} {{ this.lastName}}</p>
                    </div>
                    <div class='col-sm-3'>
                      <p class='filter-key year'>{{#if this.year}}{{this.year}}{{/if}}</p>
                    </div>
                    <div class='col-sm-3'>
                      <p class='filter-key school'>{{#if this.school}}{{this.school}}{{/if}}</p>
                    </div>
                    <div class='col-sm-3 col-xs-6'>
                      <p class='application-status filter-key'>{{ this.applicationStatus }}</p>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>

    <!-- APPLICATION MODAL -->
    {{> applicationModal }}
</body>
</html>
