<!DOCTYPE html>
<html>

<head>
  <title>BANH MI</title>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- CSS -->
  <link rel='stylesheet' href="/css/form.css" />

  <!-- SCRIPTS -->
  <script src='/js/application.js'></script>

</head>

<body>
  <p id='required-text'>* Required Field</p>
  <form id='appForm' class='application-form'>
  <!-- PERSONAL INFORMATION -->
  <div class='row'>
    <fieldset id='personal-information' class='col-md-12'>
      <legend><b>PERSONAL INFORMATION</b></legend>
      <div class='form-group col-md-5>'
        <label>FIRST NAME*:</label>
        <input class='form-control' type='text' name='firstName' value='{{user.firstName}}'>
      </div>
      <div class='form-group col-md-5>'
        <label>LAST NAME*:</label>
        <input class='form-control' type='text' name='lastName' value='{{user.lastName}}'>
      </div>
      <div class='form-group col-md-5>'
        <label>PHONE NUMBER*:</label>
        <input class='form-control' type='tel' name='phone' value='{{user.phone}}'>
      </div>
      <div class='form-group col-md-5>'
        <label>EMAIL ADDRESS*: <span class='sublabel'>(EDU EMAIL REQUIRED)</span></label>
        <input class='form-control' type='email' name='email' value='{{ user.email }}'>
      </div>
    </fieldset>
  </div>

  <!-- EDUCATIONAL INFORMATION -->
  <div class='row'>
    <fieldset id='educational-information' class='col-md-12'>
      <legend><b>EDUCATIONAL INFORMATION</b></legend>
        <div class='form-group col-md-12>'
          <label>SCHOOL*:</label>
          <input class='form-control' type='text' name='school' value='{{user.school}}'>
        </div>
        <div class='form-group col-md-5>'
          <label>MAJOR*:</label>
          <input class='form-control' type='text' name='major' value='{{user.major}}'>
        </div>
        <div class='form-group col-md-5>'
          <label>YEAR*:</label>
          <input class='form-control' type='text' name='year' value='{{user.year}}'>
        </div>
        <div class='form-group col-md-4>'
          <label>GITHUB:</label>
          <input class='form-control' type='url' name='github' value='{{user.github}}'>
        </div>
        <div class='form-group col-md-4>'
          <label>LINKEDIN:</label>
          <input class='form-control' type='url' name='linkedin' value='{{user.linkedin}}'>
        </div>
    </fieldset>
  </div>

  <!-- TEAM INFORMATION -->
  <div class='row'>
    <fieldset id='team-information' class='col-md-6'>
      <legend><b>TEAM INFORMATION</b></legend>
      <div class='form-group col-md-12'>
        <label>DO YOU HAVE A TEAM?*</label>
        <select class='form-control' id='team-select' name='hasTeam'>
          <option>SELECT</option>
          <option>YES</option>
          <option>NO</option>
        </select>
      </div>

      <div class='form-group col-md-12'>
        <label>IF SO, WHAT ARE YOUR TEAMMATES' EMAILS?</label><br />
        <input class='form control teammate-email' type='email' name='tm-email1' value='{{user.teammateEmail1}}'><br />
        <input class='form control teammate-email' type='email' name='tm-email2' value='{{user.teammateEmail2}}'><br />
        <input class='form control teammate-email' type='email' name='tm-email3' value='{{user.teammateEmail3}}'><br />
        <input class='form control teammate-email' type='email' name='tm-email4' value='{{user.teammateEmail4}}'>
      </div>
    </fieldset>

    <!-- MISC INFORMATION -->
    <fieldset id='misc' class='col-md-6'>
      <legend><b>MISCELLANEOUS</b></legend>
        <div class='form-group col-md-12>'
          <label>DIETARY RESTRICTIONS AND FOOD ALLERGIES: </label>
          <input class='form-control' type='text' name='foodRestrictions' value='{{user.foodRestrictions}}'>
        </div>
        <div class='form-group>'
          <label class='col-sm-7'>WILL YOU BE BRINGING A VEHICLE AND NEED PARKING? <span class='sublabel'>(PARKING PRIORITY TO NON-UCLA STUDENTS)</span></label>
          <select class='form-control' name='vehicleNeed'>
            <option>SELECT</option>
            <option>YES</option>
            <option>NO</option>
          </select>

        </div>
    </fieldset>
  </div>

  <!-- HACKATHON INFORMATION -->
  <div class='row'>
    <fieldset id='hackathon-information' class='col-md-12'>
      <legend><b>HACKATHON INFORMATION</b></legend>
      <div class='form-group col-md-12'>
        <label>SKILLS AND EXPERIENCES<span style='color: transparent;'>HACKATHON EXPERIENCE</span></label>
        <textarea class='form-control textarea' name='skillsAndExperience' rows='4' value='{{user.skillsAndExperience}}'></textarea>
      </div>
      <div class='form-group col-md-12'>
        <label>DO YOU HAVE ANY PAST HACKATHON EXPERIENCE?<label>
        <textarea class='form-control textarea' name='pastHackathonExperience' rows='4' value='{{user.pastHackathonExperience}}'></textarea>
      </div>
      <div class='form-group col-md-12'>
        <label>WHY DO YOU WANT TO PARTICIPATE IN IDEA HACKS?<label>
        <textarea class='form-control textarea' name='reasonForParticipation' rows='4' value='{{user.reasonForParticipation}}'></textarea>
      </div>
      <div class='form-group col-md-12'>
        <label>DO YOU HAVE AN IDEA TO HACK FOR THIS YEAR'S THEME? <span class='sublabel'>THEME: AUTOMATION (IT'S OK IF YOU DON'T YET!)</span><label>

        <textarea class='form-control textarea' name='themeIdea' rows='4' value='{{user.themeIdea}}'></textarea>
      </div>
      <div class='form-group col-md-12'>
        <label>WHAT PARTS WOULD YOU LIKE TO SEE AT IDEA HACKS THIS YEAR?<label>
        <textarea class='form-control textarea' name='desiredParts' type='text' value='{{user.desiredParts}}'></textarea>
      </div>
    </fieldset>
  </div>

  <!-- BUTTONS -->
  <div id='buttons' class='row'>
    <button type='submit' class='submit-application btn btn-primary col-xs-10 col-xs-offset-1 col-md-offset-4'>SUBMIT APPLICATION</button>
  </div>
  </form>

  <!-- FOOTER -->
  <div class='footer'>
    <p>Copyright &copy; IDEA Hacks</p>
  </div>


</body>

</html>
