<!DOCTYPE HTML>
<html>
<head>
    <title>Parts List - Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the ninth time, UCLA IEEE is pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/parts-list.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-parts-modal.js'></script>
    <script src='/js/admin-parts.js'></script>
</head>
<body>
    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='logo-header'>
            <img class='img-header' src='/img/admin/parts-header.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/admin/parts-logo.png' />
            </span>
        </div>

        <div class='checkout-body'>
            <div align="center">
                <h1 class="title">Parts List</h1>
                <hr class='banner-underline'>
            </div>

            <div class='sidebar col-md-2'>
                <p class='search-bar'>SEARCH FOR A PART:</p>
                {{> filter}}
                <p class='category-header'>Browse by category</p>
                <p class='part-category'>ALL</p>
                {{#each categories}}
                    <p class="part-category">{{this}}</p>
                {{/each}}
            </div>

            <div class='parts-container text-center col-md-10'>
                <div class='filter-list'>
                    {{#each parts}}
                        <div class='part-wrapper text-left' id='{{this.category}}'>
                            <div>
                                {{#if this.imageUrl}}
                                    <img class='part' id='{{this._id}}' src='{{this.imageUrl}}' />
                                {{else}}
                                    <img class="part" id='{{this._id}}' src='/img/admin/no-image.png' />
                                {{/if}}
                            </div>
                            <div class='detail-section'>
                                <p class='part-details filter-key text-left'>{{this.partName}}</p>
                                {{#if this.isConsumable}}
                                    <p class='part-details quantity text-left'>Quantity: Limited Stock</p>
                                {{else}}
                                    <p class='part-details quantity text-left'>Quantity: {{this.stock}}</p>
                                {{/if}}
                            </div>
                        </div>

                    {{/each}}

                </div>

                {{> dashboardPartsModal }}
            </div>

        </div>

    </div>

</body>
</html>
