<!DOCTYPE html>
<html>

<head>
    <title>Application - Dashboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="http://www.ideahacks.la/img/meta_thumbnail.png">
    <meta property="og:description" content="For the seventh time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' href='../css/style.css' />
    <link rel='stylesheet' href='../css/application.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-application.js?v=1.1'></script>
</head>

<body>

    <!-- NAVBAR -->
    <div class='wrapper'>
        {{> navbar }}

        {{#if user.hasApplication}}

            <div class='top-box' style="background-color: #fafafa;"></div>

            <div class="houseline"></div>

            <div class='text-center container-fluid submission'>
                <h1>Way to go!</h1>
                <p>You successfully submitted your application for IDEA Hacks 2021!</p>
                <p>Have questions? Contact us at team@ideahacks.la</p>
                <a href="/dashboard/me"><button class="file-upload">My Dashboard</button></a>
            </div>

        {{else}}

            <div id="intro">
                <div class="intro_view">
                    <img id="application_logo" src="/img/application/applicationlogo.png" alt="application logo">
                    <img id="intro_graphics" src="/img/application/application.png" alt="application graphics">
                </div>
            </div>

            <div class="form">
                <!-- PERSONAL INFORMATION -->
                <div class="black-tab-container clearfix form">
                    <div>
                        <div>
                            <h1>PERSONAL</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>FIRST NAME*</label>
                            <input class='form-control' type='text' name='firstName' placeholder='First Name' value='{{user.firstName}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>PHONE NUMBER*</label>
                            <input class='form-control' type='tel' name='phone' placeholder='(XXX) XXX - XXXX' value='{{user.phone}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>LAST NAME*</label>
                            <input class='form-control' type='text' name='lastName' placeholder='Last Name' value='{{user.lastName}}'>
                        </div>

                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>EMAIL*</label>
                            <input class='form-control' type='email' name='email' value='{{ user.email }}' readonly>
                        </div>
                    </fieldset>
                </div>

                <!-- EDUCATIONAL INFORMATION -->
                <div class="white-tab-container clearfix">
                    <div>
                        <div>
                            <h1>EDUCATION</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-10 col-sm-10 col-xs-10'>
                            <label>SCHOOL*</label>
                            <select class='form-control' name='school'>
                                <option {{#if user.UCLA}} selected{{/if}}>University of California, Los Angeles</option>
                                <option {{#if user.UCB}} selected{{/if}}>University of California, Berkeley</option>
                                <option {{#if user.UCD}} selected{{/if}}>University of California, Davis</option>
                                <option {{#if user.UCI}} selected{{/if}}>University of California, Irvine</option>
                                <option {{#if user.UCM}} selected{{/if}}>University of California, Merced</option>
                                <option {{#if user.UCR}} selected{{/if}}>University of California, Riverside</option>
                                <option {{#if user.UCSD}} selected{{/if}}>University of California, San Diego</option>
                                <option {{#if user.UCSB}} selected{{/if}}>University of California, Santa Barbara</option>
                                <option {{#if user.UCSC}} selected{{/if}}>University of California, Santa Cruz</option>
                                <option {{#if user.USC}} selected{{/if}}>University of Southern California</option>
                                <option {{#if user.schoolOther}} selected{{/if}}>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>MAJOR*</label>
                            <input class='form-control' type='text' name='major' placeholder='Major' value='{{user.major}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>YEAR*</label>
                            <select class='form-control' name='year'>
                                <option {{#if user.yearFreshman}} selected{{/if}}>Freshman</option>
                                <option {{#if user.yearSophomore}} selected{{/if}}>Sophomore</option>
                                <option {{#if user.yearJunior}} selected{{/if}}>Junior</option>
                                <option {{#if user.yearSenior}} selected{{/if}}>Senior</option>
                                <option {{#if user.yearHighSchool}} selected{{/if}}>High School</option>
                                <option {{#if user.yearGraduate}} selected{{/if}}>Graduate</option>
                                <option {{#if user.yearOther}} selected{{/if}}>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>GITHUB</label>
                            <input class='form-control' type='url' name='github' placeholder='GitHub' value='{{user.github}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>LINKEDIN</label>
                            <input class='form-control' type='url' name='linkedin' placeholder='LinkedIn' value='{{user.linkedin}}'>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-10'>
                            <label>RESUME</label>
                            <span class="row"></span>
                            <a href="https://forms.gle/UDU6GJmQ5hQ9ykNN7" target="_blank" style="text-decoration: none;"><button class='file-upload'> UPLOAD FILE </button></a>
                        </div>
                    </fieldset>
                </div>

                <!-- TEAM INFORMATION -->
                <div class="black-tab-container clearfix">
                    <div>
                        <div>
                            <h1>TEAM INFORMATION</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-sm-10 col-sx-10 col-md-5'>
                            <label>WILL YOU HAVE A TEAMMATE?*</label>
                            <select class='form-control' name='hasTeam'>
                                <option {{#if user.hasATeam}} selected{{/if}}>YES</option>
                                <option {{#if user.hasNoTeam}} selected{{/if}}>NO</option>
                            </select>
                            <label>IF SO, WHAT IS YOUR TEAMMATE'S EMAIL?</label>
                            <input class='form-control teammate-email' type='text' name='tm-email1' placeholder='email' value='{{user.teammateEmail1}}'>
                            <input class='form-control teammate-email' type='text' name='tm-email1' placeholder='email' value='{{user.teammateEmail1}}'>
                            <input class='form-control teammate-email' type='text' name='tm-email1' placeholder='email' value='{{user.teammateEmail1}}'>
                        </div>
                        <div class="team_icon col-sm-10 col-sx-10 col-md-5">
                            <img src="/img/application/applicationicon.png" alt="Ideahacks Icon" width="50%">
                        </div>
                    </fieldset>
                </div>

                <!-- SHORT ANSWER -->
                <div class="white-tab-container clearfix">
                    <div>
                        <div>
                            <h1>SHORT ANSWER</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 col-xs-12 short-answer'>
                            <label>ENTER YOUR SKILLS AND EXPEREINCES*</label>
                            <textarea class='form-control textarea' name='skillsAndExperience' rows='5'>{{user.skillsAndExperience}}</textarea>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-12 short-answer'>
                            <label>WHY DO YOU WANT TO PARTICIPATE IN IDEAHACKS?*</label>
                            <textarea class='form-control textarea' name='reasonForParticipation' rows='5'>{{user.reasonForParticipation}}</textarea>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>DO YOU HAVE AN IDEA TO HACK FOR THIS YEAR'S THEME?</label>
                            <label class='sublabel'>(It's okay if you don't yet!)</label>
                            <textarea class='form-control textarea' name='themeIdea' placeholder='EXAMPLE: PORTABLE COFFEE MAKER' rows='5'>{{user.themeIdea}}</textarea>
                        </div>
                        <div class="hack-experience col-xs-12 col-sm-10 col-md-10">
                            <div class="col-xs-12 col-sm-8 col-md-4">
                                <label>DO YOU HAVE ANY PAST HACKATHON EXPERIENCE?*</label>
                            </div>
                            <div class="yes-no col-xs-12 col-sm-4 col-md-2">
                                <label class="container">YES
                                <input type="radio" checked="checked" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="yes">
                                <span class="checkmark"></span>
                                </label>
                                <label class="container">NO
                                <input type="radio" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="no">
                                <span class="checkmark"></span>
                                </label>
                                <!--
                                <input class="form-check-input radio-input" type="radio" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="yes">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="yes">YES
                                </label>
                                <input class="form-check-input radio-input" type="radio" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="no">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="no">NO
                                </label>
                                -->
                            </div>
                            <div class='form-group short-answer col-xs-12 col-sm-10 col-md-6'>
                                <label style="text-align: left">IF SO, PLEASE SHARE YOUR EXPERIENCE WITH US.</label>
                                <textarea class='form-control textarea' name='pastHackathonExperience' rows='3'>{{user.pastHackathonExperience}}</textarea>
                            </div>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>WHAT PARTS WOULD YOU LIKE TO SEE AT IDEAHACKS THIS YEAR?</label>
                            <textarea class='form-control textarea' placeholder="EXAMPLE: ARDUINO" name='desiredParts' rows='5'>{{user.desiredParts}}</textarea>
                        </div>
                    </fieldset>
                </div>

                <!-- MISCELLANEOUS INFORMATION -->
                <div class="black-tab-container clearfix">
                    <div>
                        <div>
                            <h1>MISCELLANEOUS</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>SHIRT SIZE*</label>
                            <select class='form-control' name='shirtSize'>
                                <option {{#if user.sizeSmall}} selected{{/if}}>S</option>
                                <option {{#if user.sizeMedium}} selected{{/if}}>M</option>
                                <option {{#if user.sizeLarge}} selected{{/if}}>L</option>
                                <option {{#if user.sizeXLarge}} selected{{/if}}>XL</option>
                            </select>
                            <label>ANY DIETARY RESTRICTIONS OR FOOD ALLERGIES?</label>
                            <textarea class='form-control textarea' name='foodRestrictions' rows='1'>{{user.foodRestrictions}}</textarea>
                        </div>
                        <div class="miscellaneous_icon col-md-5 col-sm-10 col-xs-10">
                            <img src="/img/application/applicationicon.png" alt="Ideahacks Icon" width="50%">
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- BUTTONS -->
            <div class='submit'>
                <button>SUBMIT</button>
            </div>
            <p class="submit-message" style='color: transparent;'></p>
        {{/if}}
    </div>
</body>
</html>
