<!DOCTYPE HTML>
<html>
<head>
    <title>Parts List - Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/meta_thumbnail.png">
    <meta property="og:description" content="For the seventh time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/parts-list.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-parts-modal.js'></script>
    <script src='/js/admin-parts.js'></script>
</head>
<body>
    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='logo-header'>
            <img class='img-header' src='/img/admin/parts.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/admin/partslogo.png' />
            </span>
        </div>

        <div class='checkout-body'>
            <div align="center">
                <h1 class="title">Parts List</h1>
                <hr class='banner-underline'>
            </div>

            <div class='sidebar col-md-2'>
                <p class='search-bar'>SEARCH FOR A PART:</p>
                {{> filter}}
                <p class='category-header'>Browse by category</p>
                <p class='part-category'>ALL</p>
                <p class='part-category'>Dev Kit</p>
                <p class='part-category'>Batteries</p>
                <p class='part-category'>Power</p>
                <p class='part-category'>Microcontroller</p>
                <p class='part-category'>FPGA</p>
                <p class='part-category'>Sensor</p>
                <p class='part-category'>Connector</p>
                <p class='part-category'>Memory</p>
                <p class='part-category'>Display</p>
                <p class='part-category'>Interface IC</p>
                <p class='part-category'>User Interface</p>
                <p class='part-category'>Discrete Semiconductor</p>
                <p class='part-category'>Electromechanical</p>
                <p class='part-category'>Miscellaneous</p>
            </div>

            <div class='parts-container text-center col-md-10'>
                <div class='filter-list'>
                    {{#each parts}}
                        <div class='text-left col-md-3' id='{{this.category}}'>
                            <div>
                                <img class='part' id='{{this._id}}' src='{{this.imageUrl}}' />
                            </div>
                            <div class='detail-section'>
                                <p class='part-details filter-key text-left'>{{this.partName}}</p>
                                {{#if this.isConsumable}}
                                    <p class='part-details quantity text-left'>Quantity: Limited Stock</p>
                                {{else}}
                                    <p class='part-details quantity text-left'>Quantity: {{this.stock}}</p>
                                {{/if}}
                            </div>
                        </div>

                    {{/each}}

                </div>

                {{> dashboardPartsModal }}
            </div>

        </div>

    </div>

</body>
</html>
