<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard - Announcements</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/announcements.css' />
</head>
<body class='background-grey'>
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- BANNER -->
    <div class='banner'>
        <h1 class='transparent-ucla-gold'>Announcements</h1>
    </div>

    <div class='container announcements-container background-white'>
        <ol class='announcements-list'>
            {{#each announcements}}
            <li class='announcement text-center'>
                <h2 class='ucla-blue'>{{ this.header }}</h1>
                    <p>{{ this.body }}</p>
                    <p class='stats-string'>Created by {{ this.createdBy.firstName }} {{this.createdBy.lastName }} | {{ this.formattedTimestamp }}</p>
            </li>
            {{/each}}
        </ol>
    </div>
</body>
</html>
