<!DOCTYPE html>
<html>

<head>
    <title>Application - Dashboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the eighth time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' href='../css/style.css' />
    <link rel='stylesheet' href='../css/dashboard-application.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-application.js?v=2.0'></script>
</head>

<body>

    <!-- NAVBAR -->
    <div class='wrapper'>
        {{> navbar }}

        {{#if user.hasApplication}}

            <div class='text-center container-fluid submission'>
                <h1>Way to go!</h1>
                <p>You successfully submitted your application for IDEA Hacks 2023!</p>
                <p>Have questions? Contact us at team@ideahacks.la</p>
                <span class="return">
                    <a href="/dashboard/me" style="text-decoration: none;">
                        <button class="my-dash">MY DASHBOARD</button>
                    </a>
                </span>

            </div>

        {{else}}
            <div id="intro">
                <div class="intro_view">
                    <div class='filler'></div>
                    {{!-- <img id="application_logo" src="/img/application/applicationlogo.png" alt="application logo"> --}}
                    {{!-- <img id="intro_graphics" src="/img/application/application.png" alt="application graphics"> --}}
                </div>
            </div>

            <div class="form">
                <!-- PERSONAL INFORMATION -->
                <div class="black-tab-container clearfix form">
                    <div>
                        <div>
                            <h1>PERSONAL</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>First Name*</label>
                            <input class='form-control' type='text' name='firstName' placeholder='First Name' value='{{user.firstName}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>Last Name*</label>
                            <input class='form-control' type='text' name='lastName' placeholder='Last Name' value='{{user.lastName}}'>
                        </div>
                        <div class='form-group col-md-4 col-sm-10 col-xs-10'>
                            <label>Email*</label>
                            <input class='form-control' type='email' name='email' value='{{ user.email }}' readonly>
                        </div>
                        <div class='form-group col-md-4 col-sm-10 col-xs-10'>
                            <label>Phone Number*</label>
                            <input class='form-control' type='tel' name='phone' placeholder='(XXX) XXX - XXXX' value='{{user.phone}}'>
                        </div>
                        <div class='form-group col-md-2 col-sm-10 col-xs-10'>
                            <label>Pronouns</label>
                            <input class='form-control' type='tel' name='pronouns' value='{{user.pronouns}}'>
                        </div>
                    </fieldset>
                </div>

                <!-- EDUCATIONAL INFORMATION -->
                <div class="white-tab-container clearfix">
                    <div>
                        <div>
                            <h1>EDUCATION</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-10 col-sm-10 col-xs-10'>
                            <label>School*</label>
                            <select class='form-control' name='school'>
                                <option>University of California, Los Angeles</option>
                                <option>East LA College</option>
                                <option>El Camino College</option>
                                <option>Santa Monica College</option>
                                <option>University of California, Berkeley</option>
                                <option>University of California, Davis</option>
                                <option>University of California, Irvine</option>
                                <option>University of California, Merced</option>
                                <option>University of California, Riverside</option>
                                <option>University of California, San Diego</option>
                                <option>University of California, Santa Barbara</option>
                                <option>University of California, Santa Cruz</option>
                                <option>University of Southern California</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-10'>
                            <label>If Other, please specify.</label>
                            <input class='form-control' type='text' name='school_other' placeholder='Other' value='{{user.school_other}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>MAJOR*</label>
                            <input class='form-control' type='text' name='major' placeholder='Major' value='{{user.major}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>YEAR*</label>
                            <select class='form-control' name='year'>
                                <option>Freshman</option>
                                <option>Sophomore</option>
                                <option>Junior</option>
                                <option>Senior</option>
                                <option>High School</option>
                                <option>Graduate</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>GITHUB</label>
                            <input class='form-control' type='url' name='github' placeholder='GitHub' value='{{user.github}}'>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>LINKEDIN</label>
                            <input class='form-control' type='url' name='linkedin' placeholder='LinkedIn' value='{{user.linkedin}}'>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-10'>
                            <label>RESUME</label>
                            <span class="row"></span>
                            <a href="https://forms.gle/DdvXzxroqJwD4mAJA" target="_blank" style="text-decoration: none;"><button class='resume'> UPLOAD FILE </button></a>
                        </div>
                    </fieldset>
                </div>

                <!-- TEAM INFORMATION -->
                <div class="black-tab-container clearfix">
                    <div>
                        <div>
                            <h1>TEAM INFO</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-sm-10 col-sx-10 col-md-5'>
                            <label>Do you have a team?*</label>
                            <select class='form-control' name='hasTeam'>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <label>If so, what is each teammate's email?</label>
                            <input class='form-control teammate-email' type='text' name='tm-email1' placeholder='email' value='{{user.teammateEmail1}}'>
                            <input class='form-control teammate-email' type='text' name='tm-email2' placeholder='email' value='{{user.teammateEmail2}}'>
                            <input class='form-control teammate-email' type='text' name='tm-email3' placeholder='email' value='{{user.teammateEmail3}}'>
                            <input class='form-control teammate-email' type='text' name='tm-email4' placeholder='email' value='{{user.teammateEmail4}}'>
                        </div>
                        <div class="team_icon col-sm-10 col-sx-10 col-md-5">
                            <img src="/img/application/applicationicon.png" alt="Ideahacks Icon" width="50%">
                        </div>
                    </fieldset>
                </div>

                <!-- SHORT ANSWER -->
                <div class="white-tab-container clearfix">
                    <div>
                        <div>
                            <h1>SHORT ANSWER</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>What are your previous engineering experiences?*</label>
                            <textarea class='form-control textarea' name='skillsAndExperience' rows='5'>{{user.skillsAndExperience}}</textarea>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>Why do you want to participate in IDEA Hacks?*</label>
                            <textarea class='form-control textarea' name='reasonForParticipation' rows='5'>{{user.reasonForParticipation}}</textarea>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>Do you have an idea to hack for this year's theme?</label>
                            <label class='sublabel'>(It's okay if you don't yet!)</label>
                            <textarea class='form-control textarea' name='themeIdea' placeholder='Example: Compost Catapult' rows='5'>{{user.themeIdea}}</textarea>
                        </div>
                        <div class="hack-experience col-xs-12 col-sm-10 col-md-10">
                            <div class="col-xs-12 col-sm-8 col-md-4">
                                <label>Do you have any previous hackathon experience?*</label>
                            </div>
                            <div class="yes-no col-xs-12 col-sm-4 col-md-2">
                                <label class="container">YES
                                    <input type="radio" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="yes-hack">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">NO
                                    <input type="radio" checked="checked" name="hasPastHackathonExperience" value={{user.hasPastHackathonExperience}} id="no-hack">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class='form-group short-answer col-xs-12 col-sm-10 col-md-6'>
                                <label style="text-align: left">If so, please share your experience with us.</label>
                                <textarea class='form-control textarea' name='pastHackathonExperience' rows='3'>{{user.pastHackathonExperience}}</textarea>
                            </div>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 col-xs-12 short-answer'>
                            <label>What parts would you like to see at IDEA Hacks this year?</label>
                            <textarea class='form-control textarea' placeholder="Example: Arduinos" name='desiredParts' rows='5'>{{user.desiredParts}}</textarea>
                        </div>
                    </fieldset>
                </div>

                <!-- MISCELLANEOUS INFORMATION -->
                <div class="black-tab-container clearfix">
                    <div>
                        <div>
                            <h1>MISCELLANEOUS</h1>
                        </div>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 col-xs-10'>
                            <label>Shirt Size*</label>
                            <select class='form-control' name='shirtSize'>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                            </select>
                            <label>Any dietary restrictions or food allergies?</label>
                            <textarea class='form-control textarea' name='foodRestrictions' rows='1'>{{user.foodRestrictions}}</textarea>
                            <label>If you are visiting from another school and would like assistance with housing over the weekend, please check this box. Please note that there is a limited number of people we can support, so we will prioritize early applications and those with need.</label>
                            <div class="yes-no col-xs-1 col-sm-6 col-md-6">
                                <label class="container">Yes
                                    <input type="radio" name="needsHousing" value={{user.needsHousing}} id="yes-housing">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">No
                                    <input type="radio" checked="checked" name="needsHousing" value={{user.needsHousing}} id="no-housing">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="miscellaneous_icon col-md-5 col-sm-10 col-xs-10">
                            <img src="/img/application/applicationicon.png" alt="Ideahacks Icon" width="50%">
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- BUTTONS -->
            <div class='save'>
                <button class="save-application">SAVE</button>
            </div>
            <div class='submit'>
                <button class="submit-button">SUBMIT</button>
            </div>
            <p class="submit-message" style='color: transparent;'></p>
            
        {{/if}}
    </div>
</body>
</html>
