<!DOCTYPE html>
<html>
<head>
    <title>Application - Dashboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylsheet' href='/css/style.css' />
    <link rel='stylesheet' href="/css/form.css" />
    <link rel='stylesheet' href='/css/dashboard-application.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-application.js'></script>
</head>
<body>
    <!-- NAVBAR -->
    {{> navbar }}

    <div class='required-text'>
        <p>* Required Field</p>
    </div>

    <div class='ideahacks-form application-form container-fluid'>
        <!-- PERSONAL INFORMATION -->
        <div class='row'>
            <legend>Personal Information</legend>
            <fieldset class='col-md-12'>
                <div class='form-group col-md-5'>
                    <label>First Name*</label>
                    <input class='form-control' type='text' name='firstName'  value='{{user.firstName}}'>
                </div>
                <div class='form-group col-md-5'>
                  <label>Last Name*</label>
                    <input class='form-control' type='text' name='lastName'  value='{{user.lastName}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>Phone Number*</label>
                    <input class='form-control' type='tel' name='phone'  value='{{user.phone}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>Email Address*</label>
                    <input class='form-control' type='email' name='email' value='{{ user.email }}' readonly>
                </div>
            </fieldset>
        </div>

        <!-- EDUCATIONAL INFORMATION -->
        <div class='row'>
            <legend>Education Information</legend>
            <fieldset class='col-md-12'>
                <div class='form-group col-md-10'>
                    <label>School*</label>
                    <input class='form-control' type='text' name='school'  value='{{user.school}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>Major*</label>
                    <input class='form-control' type='text' name='major'  value='{{user.major}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>Year*</label>
                    <input class='form-control' type='text' name='year'  value='{{user.year}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>GitHub</label>
                    <input class='form-control' type='url' name='github'  value='{{user.github}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>LinkedIn</label>
                    <input class='form-control' type='url' name='linkedin'  value='{{user.linkedin}}'>
                </div>
            </fieldset>
        </div>

        <!-- TEAM INFORMATION -->
        <div class='row'>
            <legend>Team Information</legend>
            <fieldset class='col-md-6'>
                <div class='form-group'>
                    <label>Do you have a team*</label>
                    <select class='form-control' name='hasTeam'>
                        <option {{#if user.hasATeam}}selected{{/if}}>YES</option>
                        <option {{#if user.hasNoTeam}}selected{{/if}}>NO</option>
                    </select>
                </div>

                <div class='form-group'>
                    <label>If so, what are your teammates' emails?</label>
                    <input class='form-control teammate-email' type='email' name='tm-email1' value='{{user.teammateEmail1}}'>
                    <input class='form-control teammate-email' type='email' name='tm-email2' value='{{user.teammateEmail2}}'>
                    <input class='form-control teammate-email' type='email' name='tm-email3' value='{{user.teammateEmail3}}'>
                    <input class='form-control teammate-email' type='email' name='tm-email4' value='{{user.teammateEmail4}}'>
                </div>
            </fieldset>
        </div>

        <!-- HACKATHON INFORMATION -->
        <div class='row'>
            <legend>Hackathon Information</legend>
            <fieldset>
                <div class='form-group col-md-5 short-answer'>
                    <label>Skills and Experience<span class='whitespace'>HACKATHON EXPERIEN</span></label>
                    <textarea class='form-control textarea' name='skillsAndExperience' rows='5'>{{user.skillsAndExperience}}</textarea>
                </div>
                <div class='form-group col-md-5 short-answer'>
                    <label>Do you have any past hackathon experience?</label>
                    <textarea class='form-control textarea' name='pastHackathonExperience' rows='5'>{{user.pastHackathonExperience}}</textarea>
                </div>
                <div class='form-group col-md-5 short-answer'>
                    <label>Why do you want to participate in IDEA Hacks?</label>
                    <label class='sublabel whitespace'>Theme: Home Automation (It's ok if you don't yet!!!!)</label>
                    <textarea class='form-control textarea' name='reasonForParticipation' rows='5'>{{user.reasonForParticipation}}</textarea>
                </div>
                <div class='form-group col-md-5 short-answer'>
                    <label>Do you have an idea to hack for this year's theme?</label>
                    <label class='sublabel'>Theme: Home Automation (It's ok if you don't yet!)</label>
                    <textarea class='form-control textarea' name='themeIdea' rows='5'>{{user.themeIdea}}</textarea>
                </div>
                <div class='form-group col-md-10'>
                    <label>What parts would you like to see at IDEA Hacks this year?</label>
                    <input class='form-control' name='desiredParts' type='text' value='{{user.desiredParts}}' />
                </div>
            </fieldset>
        </div>

        <!-- MISCELLANEOUS INFORMATION -->
        <div class='row'>
            <legend>Miscellaneous</legend>
            <fieldset>
                <div class='form-group col-md-5'>
                    <label>Any dietary restrictions or food allergies?</label>
                    <input class='form-control' type='text' name='foodRestrictions' value='{{user.foodRestrictions}}'>
                </div>
                <div class='form-group col-md-5'>
                    <label>Will you be bringing a vehicle and need parking?</label>
                    <label class='sublabel'>(Note: Parking priority goes to non-UCLA students)</label>
                    <select class='form-control' name='vehicleNeed'>
                        <option {{#if user.doesNeedVehicle}}selected{{/if}}>YES</option>
                        <option {{#if user.doesNotNeedVehicle}}selected{{/if}}>NO</option>
                    </select>
                </div>
            </fieldset>
        </div>

        <!-- BUTTONS -->
        <div class='buttons row'>
            <button class='save-application'>SAVE</button>
            <button class='submit-application'>SUBMIT</button>
        </div>
        <p class="submit-message" style='color: transparent;'>This is the submit message</p>
    </div>

</body>
</html>
