<!DOCTYPE html>
<html>

<head>
    <title>Application - Dashboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' href='../css/style.css' />
    <link rel='stylesheet' href='../css/dashboard-application.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-application.js'></script>
</head>

<body>

    <!-- NAVBAR -->
    <div class='wrapper'>
        {{> navbar }}

        {{#if user.hasApplication}}

            <div class='top-box' style="background-color: #fafafa;"></div>

            <div class="houseline"></div>

            <div class='text-center container-fluid submission'>
                <h1>Way to go!</h1>
                <p>You successfully submitted your application for IDEA Hacks 2021!</p>
                <p>Have questions? Contact us at team@ideahacks.la</p>
                <a href="/dashboard/me"><button class="file-upload">My Dashboard</button></a>
            </div>

        {{else}}

            <div class='top-box'></div>

            <div class='ideahacks-form application-form container-fluid'>
                <div class='row'>
                    <div class='mainHeader col-md-12 text-center'>
                        <h1>IDEAHACKS: HOME APPLICATIONS</h1>
                    </div>
                </div>
                <!-- PERSONAL INFORMATION -->
                <div class='row'>
                    <div class='header'>
                        <hr>
                        <h3>PERSONAL</h3>
                    </div>

                    <fieldset>
                        <div class='form-group col-md-5'>
                            <label>FIRST NAME*</label>
                            <input class='form-control' type='text' name='firstName' placeholder='First Name' value='{{user.firstName}}'>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>PHONE NUMBER*</label>
                            <input class='form-control' type='tel' name='phone' placeholder='(XXX) XXX - XXXX' value='{{user.phone}}'>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>LAST NAME*</label>
                            <input class='form-control' type='text' name='lastName' placeholder='Last Name' value='{{user.lastName}}'>
                        </div>

                        <div class='form-group col-md-5'>
                            <label>EMAIL*</label>
                            <input class='form-control' type='email' name='email' value='{{ user.email }}' readonly>
                        </div>
                    </fieldset>
                </div>
                <!-- EDUCATIONAL INFORMATION -->
                <div class='row'>
                    <div class='header'>
                        <hr>
                        <h3>EDUCATION</h3>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5'>
                            <label>SCHOOL*</label>
                            <select class='form-control' name='school'>
                                <option {{#if user.UCLA}} selected{{/if}}>University of California, Los Angeles</option>
                                <option {{#if user.UCB}} selected{{/if}}>University of California, Berkeley</option>
                                <option {{#if user.UCD}} selected{{/if}}>University of California, Davis</option>
                                <option {{#if user.UCI}} selected{{/if}}>University of California, Irvine</option>
                                <option {{#if user.UCM}} selected{{/if}}>University of California, Merced</option>
                                <option {{#if user.UCR}} selected{{/if}}>University of California, Riverside</option>
                                <option {{#if user.UCSD}} selected{{/if}}>University of California, San Diego</option>
                                <option {{#if user.UCSB}} selected{{/if}}>University of California, Santa Barbara</option>
                                <option {{#if user.UCSC}} selected{{/if}}>University of California, Santa Cruz</option>
                                <option {{#if user.USC}} selected{{/if}}>University of Southern California</option>
                                <option {{#if user.schoolOther}} selected{{/if}}>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>If Other, please specify.</label>
                            <input class='form-control' type='text' name='school_other' placeholder='Other' value='{{user.school_other}}'>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>MAJOR*</label>
                            <input class='form-control' type='text' name='major' placeholder='Major' value='{{user.major}}'>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>YEAR*</label>
                            <select class='form-control' name='year'>
                                <option {{#if user.yearFreshman}} selected{{/if}}>Freshman</option>
                                <option {{#if user.yearSophomore}} selected{{/if}}>Sophomore</option>
                                <option {{#if user.yearJunior}} selected{{/if}}>Junior</option>
                                <option {{#if user.yearSenior}} selected{{/if}}>Senior</option>
                                <option {{#if user.yearHighSchool}} selected{{/if}}>High School</option>
                                <option {{#if user.yearGraduate}} selected{{/if}}>Graduate</option>
                                <option {{#if user.yearOther}} selected{{/if}}>Other</option>
                            </select>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>GITHUB</label>
                            <input class='form-control' type='url' name='github' placeholder='GitHub' value='{{user.github}}'>
                        </div>

                        <div class='form-group col-md-5'>
                            <label>LINKEDIN</label>
                            <input class='form-control' type='url' name='linkedin' placeholder='LinkedIn' value='{{user.linkedin}}'>
                        </div>
                        <div class='form-group col-md-5'>
                            <label>RESUME</label>
                            <span class="row"></span>
                            <a href="https://forms.gle/UDU6GJmQ5hQ9ykNN7" target="_blank"><button class='file-upload'>
                                    UPLOAD FILE </button></a>
                        </div>
                    </fieldset>
                </div>

                <!-- TEAM INFORMATION -->
                <div class='row'>
                    <div class='header'>
                        <hr>
                        <h3>TEAM INFORMATION</h3>
                        <img id="img-side" src="/img/logo.png" />
                    </div>
                    <fieldset>
                        <div class='form-group col-sm-10 col-md-5'>
                            <label>Will you have a teammate?*</label>
                            <select class='form-control' name='hasTeam'>
                                <option {{#if user.hasATeam}} selected{{/if}}>YES</option>
                                <option {{#if user.hasNoTeam}} selected{{/if}}>NO</option>
                            </select> </div>
                        <span class='row'></span>
                        <div class='form-group col-md-5 col-sm-10'>
                            <label>If so, what is your teammate's email?</label>
                            <input class='form-control teammate-email' type='text' name='tm-email1' placeholder='email' value='{{user.teammateEmail1}}'>
                        </div>
                    </fieldset>
                </div>

                <!-- HACKATHON INFORMATION -->
                <div class='row'>
                    <div class='header'>
                        <hr>
                        <h3>SHORT ANSWERS</h3>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-5 col-sm-10 short-answer'>
                            <label>Enter your Skills and Experiences*</label>
                            <textarea class='form-control textarea' name='skillsAndExperience' rows='5'>{{user.skillsAndExperience}}</textarea>
                        </div>
                        <div class='form-group col-md-5 col-sm-10 short-answer'>
                            <label>Why do you want to participate in IDEAHacks?*</label>
                            <textarea class='form-control textarea' name='reasonForParticipation' rows='5'>{{user.reasonForParticipation}}</textarea>
                        </div>
                        <div class='form-group col-md-10 col-sm-10 short-answer'>
                            <label>Do you have an idea to hack for this year's theme?</label>
                            <label class='sublabel'>(It's okay if you don't yet!)</label>
                            <textarea class='form-control textarea' name='themeIdea' placeholder='example: portable coffee maker' rows='5'>{{user.themeIdea}}</textarea>
                        </div>
                        <span class='row'>
                            <div class='form-group col-sm-10 col-md-5'>
                                <label>Do you have any past hackathon experience?*</label>
                                <select class='form-control' name='hasHackathonExperience'>
                                    <option {{#if user.hasExperience}} selected{{/if}}>YES</option>
                                    <option {{#if user.hasNoExperience}} selected{{/if}}>NO</option>
                                </select> </div>
                            <div class='form-group col-md-10 col-sm-10 short-answer'>
                                <label style="text-align: left">If so, please share you experience with us.</label>
                                <textarea class='form-control textarea' name='pastHackathonExperience' rows='3'>{{user.pastHackathonExperience}}</textarea>
                            </div>
                    </fieldset>
                </div>

                <!-- MISCELLANEOUS INFORMATION -->
                <div class='row'>
                    <div class='header'>
                        <hr>
                        <h3>MISCELLANEOUS</h3>
                    </div>
                    <fieldset>
                        <div class='form-group col-md-3 col-sm-10'>
                            <label>Shirt Size*</label>
                            <select class='form-control' name='shirtSize'>
                                <option {{#if user.sizeSmall}} selected{{/if}}>S</option>
                                <option {{#if user.sizeMedium}} selected{{/if}}>M</option>
                                <option {{#if user.sizeLarge}} selected{{/if}}>L</option>
                                <option {{#if user.sizeXLarge}} selected{{/if}}>XL</option>
                            </select> </div>
                        <span class='row'></span>
                        <div class='form-group col-md-3 col-sm-10'>
                            <label>Box Preference #1*</label>
                            <select class='form-control' name='boxRanking1'>
                                <option {{#if user.pref1MotionAddOn}} selected{{/if}}>Motion Add-on</option>
                                <option {{#if user.pref1AVAddOn}} selected{{/if}}>Audio + Visual Add-on</option>
                                <option {{#if user.pref1TIBox}} selected{{/if}}>TI Box</option>
                            </select> </div>
                        <div class='form-group col-md-3 col-sm-10'>
                            <label>Box Preference #2*</label>
                            <select class='form-control' name='boxRanking2'>
                                <option {{#if user.pref2MotionAddOn}} selected{{/if}}>Motion Add-on</option>
                                <option {{#if user.pref2AVAddOn}} selected{{/if}}>Audio + Visual Add-on</option>
                                <option {{#if user.pref2TIBox}} selected{{/if}}>TI Box</option>
                            </select> </div>
                        <div class='form-group col-md-3 col-sm-10'>
                            <label>Box Preference #3*</label>
                            <select class='form-control' name='boxRanking3'>
                                <option {{#if user.pref3MotionAddOn}} selected{{/if}}>Motion Add-on</option>
                                <option {{#if user.pref3AVAddOn}} selected{{/if}}>Audio + Visual Add-on</option>
                                <option {{#if user.pref3TIBox}} selected{{/if}}>TI Box</option>
                            </select> </div>
                        <span class='row'></span>
                        <div class='form-group col-md-3'>
                            <a href="/boxes" target="_blank"><button class='file-upload'>
                                    CLICK HERE TO SEE BOXES </button></a>
                        </div>
                        <span class='row'></span>
                        <div class='form-group col-sm-10 col-md-5'>
                            <label>Are you located near UCLA and willing to come pick up your box?*</label>
                            <select class='form-control' name='canPickUpBox'>
                                <option {{#if user.canPickUpBox}} selected{{/if}}>YES</option>
                                <option {{#if user.canPickUpBox}} selected{{/if}}>NO</option>
                            </select>
                        </div>
                        <div class='form-group col-md-6 col-sm-10 short-answer'>
                            <label>If not, what address would you like your box shipped to?</label>
                            <textarea class='form-control textarea' name='address' rows='6'>{{user.address}}</textarea>
                        </div>
                    </fieldset>
                </div>
                <!-- BUTTONS -->
                <div class='buttons row'>
                    <button class='submit-application'>SUBMIT</button>
                </div>
                <p class="submit-message" style='color: transparent;'></p>
            </div>

        {{/if}}

    </div>


</body>

</html>
