<!DOCTYPE HTML>
<html>
<head>
    <title>My Parts - Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the ninth time, UCLA IEEE is pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/dashboard-my-parts.css' />

    <!-- SCRIPTS -->
</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='logo-header'>
            <img class='img-header' src='/img/admin/parts-header.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/admin/my-parts-logo.png' />
            </span>
        </div>

        <div class="background theme-yellow container text-center">
            <div class="row">
                <!-- MY PARTS -->
                <div class="my-parts">
                    <h1 class="title">My Parts</h1>
                    <hr class='banner-underline'>

                    <div class="labels row">
                        <p class="name col-xs-8">Name of Item</p>
                        <p class="quantity col-xs-4">Quantity</p>
                    </div>
                    {{#if myParts}}
                        <div class="text-box">
                            {{#each myParts}}
                                <div class="part-entry" data-full="{{name}}">
                                    <p class="name col-xs-10">{{name}}</p>
                                    <p class="quantity col-xs-2">{{quantity}}</p>
                                </div>
                            {{/each}}
                        </div>
                    {{else}}
                        <div class="text-box no-parts">
                            {{#if hasTeam}}
                                <h2>Looks like your team hasn't checked out any parts yet!</h2>
                            {{else}}
                                <h2>Looks like you're not part of a team yet!</h2>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

</body>
</html>
