<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600i" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' href="/css/team.css" />
</head>
<body class='background-light-red'>
    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar }}

        <div class='team-container team container-fluid'>
            <img src="\img\team\IH_Team.png" alt="LOGO" class="header">
            <p>Meet the faces that made IDEA Hacks happen!</p>

            {{#each teamData}}
            <div class='container-fluid section'>
                <h1 class='Categories'>{{this.departmentName}}</h1>
                <div class='row justify-content-center'>
                    {{#each this.teammates}}
                    <div class='col-sm-3 no-padding'>
                        <div class='pic'>
                            <img class='team-photo' src='{{this.picturePath}}' />
                        </div>
                        <h4 class='Description'><b>{{this.name}}</b></h4>
                        <h2 class='Club'>{{this.organization}}</h2>
                        <h3 class='Logos'>{{#if this.linkedin}}<a href="{{this.linkedin}}" target="_blank" class="fa fa-linkedin-square fa-3x"></a>{{/if}} {{#if this.github}}<a href="{{this.github}}" target="_blank" class="fa fa-github fa-3x"></a>{{/if}} </h3>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>
</body>
</html>
