<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet" />



    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' href="/css/team.css" />
</head>

<body>
    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar }}

        <div class='team-container team container-fluid'>
            <h1 class="Title">MEET THE TEAM</h1>
            {{#each teamData}} {{#if @first}}
                    {{#if this.teamPath}}<img src="{{this.teamPath}}" alt="{{this.departmentName}}" class="directors-header">{{/if}}
                    <div class='container-fluid section'>
                        <div class='individual-team__container directors'>
                            <div class='individual-team__teammates-container directors__teammates-container'>
                                {{#each this.teammates}}
                                    <div class='individual-team__teammate'>
                                        <div class='pic'>
                                            <img class='team-photo' src='{{this.picturePath}}' />
                                        </div>
                                        <h4 class='Description'><b>{{this.name}}</b></h4>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if_even @index}}
                        {{#if this.teamPath}}<img src="{{this.teamPath}}" alt="{{this.departmentName}}" class="header">{{/if}}
                        <div class='container-fluid section'>
                            <div class='individual-team__container reversed'>
                                <div class="header-rotated-wrapper">{{#if this.teamPath}}<img src="{{this.teamPathRotated}}" alt="{{this.departmentName}}" class="header-rotated ml30">{{/if}}
                                </div>
                                <div style="width: 100%;">
                                    <h4 class='lead'>Lead: {{this.teamLead}}</h4>
                                    <div class='individual-team__teammates-container'>
                                        {{#each this.teammates}}
                                            <div class='individual-team__teammate'>
                                                <div class='pic'>
                                                    <img class='team-photo' src='{{this.picturePath}}' />
                                                </div>
                                                <h4 class='Description'><b>{{this.name}}</b></h4>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                {{else}}
                    {{#if this.teamPath}}<img src="{{this.teamPath}}" alt="{{this.departmentName}}" class="header">{{/if}}
                    <div class='container-fluid section'>
                        <div class='individual-team__container'>
                            <div class="header-rotated-wrapper">{{#if this.teamPath}}<img src="{{this.teamPathRotated}}" alt="{{this.departmentName}}" class="header-rotated mr30">{{/if}}
                            </div>
                            <div style="width: 100%;">
                                <h4 class='lead'>Lead: {{this.teamLead}}</h4>
                                <div class='individual-team__teammates-container'>
                                    {{#each this.teammates}}
                                        <div class='individual-team__teammate'>
                                            <div class='pic'>
                                                <img class='team-photo' src='{{this.picturePath}}' />
                                            </div>
                                            <h4 class='Description'><b>{{this.name}}</b></h4>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if_even}}
                {{/if}}
            {{/each}}
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>
</body>

</html>
